*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
settings.ini
Gemfile.lock
images/copied_from_nb/
_posts/2022-08-25-notewbok.md
_posts/2022-08-29-bashteset.md
_posts/2022-08-29-today.md
_posts/2022-08-30-jesse.md
_posts/2022-08-30-pwut.md
_posts/2022-09-01-09-01-notes.md
_posts/2022-09-06-September-6-notes.md
_posts/2022-09-08-september-8.md
_posts/2022-09-09-collegeboard-brainstorm.md
_posts/2022-09-21-sept-21.md
_posts/2022-09-23-rpg.md
_posts/2022-09-23-sept23.md
_posts/2022-10-03-oct3.md
_posts/2022-10-03-PBL-python_rapidapi.md
_posts/2022-10-11-kfcapi.md
_posts/2022-10-17-PBL-webapi_tutorial.md
_posts/2022-10-18-bigmen.md
_posts/2022-10-24-JavaTest.md
_posts/2022-11-18-expressions-and-strings.md
_posts/2022-11-28-homework1.md
_posts/2022-11-29-homework2.md
_posts/2022-11-28-classlessons.md
_posts/2022-11-30-homework3.md
_posts/2022-11-29-developing-algorithms-js.md
_posts/2022-11-29-Developing-Algorithms.md
_posts/2022-11-29-searching-introduction.md
_posts/2022-12-02-unit3-9-11.md
_posts/2022-12-06-homework4.md
_posts/2022-12-06-studentlesson.md
_posts/2022-12-08-notetemplate.md
_posts/2022-12-08-homework5.md
_posts/2022-12-01-StudentCopyRandomValues.md
_posts/2022-12-03-libraries-hw.md
_posts/2022-12-10-3.14-Libraries.md